<nav id="drawerMenu" class="drawer">
    <button class="close-btn" onclick="toggleMenu()">✕</button>

    <a href="/" class="{% if page.url == '/' %}active{% endif %}">HOME</a>
    <a href="/about" class="{% if page.url == '/about' %}active{% endif %}">ABOUT US</a>
    <a href="/events" class="{% if page.url == '/events' %}active{% endif %}">EVENTS</a>
    <a href="/join" class="{% if page.url == '/join' %}active{% endif %}">JOIN THE LEBC</a>
    <a href="/gallery" class="{% if page.url== '/join' %}active{% endif %}">GALLERY</a>
    <a href="/support" class="{% if page.url == '/support' %}active{% endif %}">SUPPORT</a>
    <a href="/contact" class="{% if page.url == '/contact' %}active{% endif %}">CONTACT</a>
</nav>

<div id="drawerOverlay" class="drawer-overlay" onclick="toggleMenu()"></div>