<nav id="drawerMenu" class="drawer">
    <button class="close-btn" onclick="toggleMenu()">✕</button>

    <a href="index.html" class="{% if page.url == '/' %}active{% endif %}">HOME</a>
    <a href="about.html" class="{% if page.url == '/about' %}active{% endif %}">ABOUT US</a>
    <a href="events.html" class="{% if page.url == '/events' %}active{% endif %}">EVENTS</a>
    <a href="join.html" class="{% if page.url == '/join' %}active{% endif %}">JOIN THE LEBC</a>
    <a href="gallery.html" class="{% if page.url== '/join' %}active{% endif %}">GALLERY</a>
    <a href="support.html" class="{% if page.url == '/support' %}active{% endif %}">SUPPORT</a>
    <a href="contact.html" class="{% if page.url == '/contact' %}active{% endif %}">CONTACT</a>
    <a href="staff.html" class="{% if page.url == '/contract' %}active{% endif %}">STAFF</a>
</nav>

<div id="drawerOverlay" class="drawer-overlay" onclick="toggleMenu()"></div>