<nav id="drawerMenu" class="drawer">
    <button class="close-btn" onclick="toggleMenu()">✕</button>
    <a href="/" class="{% if page.url == '/' %}active{% endif %}">HOME</a>
    <a href="/mission" class="{% if page.url == '/mission' %}active{% endif %}">MISSION</a>
    <a href="/events" class="{% if page.url == '/events' %}active{% endif %}">EVENTS</a>
    <a href="/regional-dance-america" class="{% if page.url == '/rda' %}active{% endif %}">REGIONAL DANCE AMERICA</a>
    <a href="/erie-nutcracker" class="{% if page.url == '/erie-nutcracker' %}active{% endif %}">ERIE'S NUTCRACKER</a>
    <a href="/gallery" class="{% if page.url== '/join' %}active{% endif %}">GALLERY</a>
    <a href="/support" class="{% if page.url == '/support' %}active{% endif %}">SUPPORT</a>
    <a href="/contact" class="{% if page.url == '/contact' %}active{% endif %}">CONTACT</a>
    <a href="/staff" class="{% if page.url == '/contract' %}active{% endif %}">STAFF</a>
</nav>

<div id="drawerOverlay" class="drawer-overlay" onclick="toggleMenu()"></div>