<div id="searchOverlay" class="search-overlay">
    <div class="search-box">
        <input type="text" placeholder="Search..." />
        <button onclick="closeSearch()">Close</button>
    </div>
</div>